:root {
--branco-principal: #FFFFFF;
--cinza-secundario: #c0c0c0;
--botao-azul: #167BF7;
--cor-de-fundo: #00030c;
}

body{
background-color: var(--cor-de-fundo);
color: var(--branco-principal);
}

* {
    margin:0;
    padding:0;
}

.principal {
background-image: url(“img/Background.png”);
background-repeat: no-repeat;
}

.container {
height: 100vh;
background-size: contain;
}

.container__botao {
background-color: var(--botao-azul);
 border-radius: 5px;
 padding: 1em;
 color: var(--branco-principal);
 display: block;
}







